@model FitnessYounesApp.Models.Randevu
@using FitnessYounesApp.Models

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AntrenorId" class="control-label"></label>
                <select asp-for="AntrenorId" class="form-control" asp-items="ViewBag.AntrenorId"></select>
                <span asp-validation-for="AntrenorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UyeProfilId" class="control-label"></label>
                <select asp-for="UyeProfilId" class="form-control" asp-items="ViewBag.UyeProfilId"></select>
                <span asp-validation-for="UyeProfilId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HizmetId" class="control-label"></label>
                <select asp-for="HizmetId" class="form-control" asp-items="ViewBag.HizmetId"></select>
                <span asp-validation-for="HizmetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Baslangic" class="control-label"></label>
                <input asp-for="Baslangic" class="form-control" type="datetime-local" />
                <span asp-validation-for="Baslangic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bitis" class="control-label"></label>
                <input asp-for="Bitis" class="form-control" type="datetime-local" />
                <span asp-validation-for="Bitis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ucret" class="control-label"></label>
                <input asp-for="Ucret" class="form-control" />
                <span asp-validation-for="Ucret" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Durum" class="control-label"></label>
                <select asp-for="Durum" class="form-control"
                        asp-items="Html.GetEnumSelectList<RandevuDurumu>()"></select>
                <span asp-validation-for="Durum" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
