@model FitnessYounesApp.Models.UyeProfil

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UyeProfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <input asp-for="KullaniciId" class="form-control" />
                <span asp-validation-for="KullaniciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdSoyad" class="control-label"></label>
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoyCm" class="control-label"></label>
                <input asp-for="BoyCm" class="form-control" />
                <span asp-validation-for="BoyCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KiloKg" class="control-label"></label>
                <input asp-for="KiloKg" class="form-control" />
                <span asp-validation-for="KiloKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyet" class="control-label"></label>
                <input asp-for="Cinsiyet" class="form-control" />
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
